.table-data {
    border: 1px black solid;
}
.title-section {
    border: 1px black solid;

}

.title {

}

h1 {
    font-size: 50px;
}

.cc-container {

}

.comments-section {
    border: 1px black solid;
}

.table-header {
    border: 1px black solid;
}

.table {
    width: 100%;
}

.events-container:nth-child(odd) {
    background: lightgray;
}

.events-item {

}