.table-data {
    border: 1px black solid;
}
.title-section {
}

.title {

}

h1 {
    font-size: 50px;
}

.cc-container {

}

.comments-section {
    border: 1px black solid;
}

.table-header {
}

.table {
    width: 100%;
}

.events-container:nth-child(odd) {
    background: lightgray;
}

.events-item {
}

.comments {
    padding-bottom: 50px;
    padding-right: 200px;
    width: 100%;

}

#profile-row {
    width: 15%;
    text-align: center;
}

#source-row {
    width: 15%;
}

td {
    text-align: center;
}

#pin-container {
    text-align: right;
}