.table-data {
    border: 1px red solid;
}
.title-section {
    border: 1px blue solid;

}

.title {

}

h1 {
    font-size: 50px;
}

.cc-container {
    color: black;

}

.comments-section {
    border: 1px yellow solid;
}

.table-header {
    border: 1px black solid;
}

.table {
    width: 100%;
    background-color: white;
}